ca-certificates
certifi
cycler
dlib
docopt
fonttools
imageio
imutils
kiwisolver
lazy-loader
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libstdcxx-ng
libuuid
matplotlib
ncurses
networkx
numpy
opencv-python
openssl
packaging
pillow
pip
pyparsing
python
python-dateutil
pywavelets
readline
scikit-image
scipy
setuptools
six
sqlite
tifffile
tk
tqdm
tzdata
wheel
xz
zlib
